html(lang='en')
  head
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Poppins')
    link(rel='stylesheet', href='/css/style.css?mm=1633930766277')
    title= title
  body.error-block
    h1 FlexInvest Gateway Server:  #{title}
    p #{body}
    