html(lang='en')
  head
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Poppins')
    link(rel='stylesheet', href='/css/styles.css?mm=1603558712356')
    title= title
  body.error-block
    h1 Mehmorph User Service:  #{title}
    p #{body}